<!DOCTYPE html>
<html>
<!-- Cria um layout padrão das paginas, e quando é chamado uma tela somente o body é carregado-->
<head>
    <meta charset="UTF-8">
    <title>Sistema Hospitalar</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href=" https://unpkg.com/@material-ui/core@latest/umd/material-ui.development.js" />
    <link rel="stylesheet" href="  https://unpkg.com/@material-ui/core@latest/umd/material-ui.production.min.js" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
</head>
<body class=col-xs-12>
  <header id = 'Iheader'>
    <nav id = 'headerContent' class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../public/heartbeato.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Hospital Depressivo
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Cadastro <span class="sr-only">(Página atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastrados</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>  
   <main>
    <div >  
      <%- body %>
    </div>
   </main>
</body>
</html>  