<%- contentFor('body') %> 
<!-- "card text-center"  -->
<div  class = 'container'>
    <div class="card ">
    
    <div id = 'help' class="container">
    <h2>Tela de ajuda</h2>
    <div class="row">
        <div id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_1.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Nome</h5>
              <p class="card-text">No campo "Nome", insira o nome do paciente, lembrando que números não são aceitos nesse campo, o cadastro não será conckuido se houver algum número .</p>
            </div>
          </div>

          <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_2.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Sexo</h5>
              <p class="card-text">No campo "Sexo", escolha entre masculino ou feminino .</p>
            </div>
          </div>

          <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_3.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Cpf</h5>
              <p class="card-text">No campo "CPF", digite o cpf do paciente, só os números, desse jeito "77588472514", letras não são permitidas .</p>
            </div>
          </div>
    </div>
    <div class="row">
        <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_4.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Idade</h5>
              <p class="card-text">No campo "Idade",para previnir exageros o limite de anos vai até 200 .</p>
            </div>
          </div>

          <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_5.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Endereço</h5>
              <p class="card-text">No campo "Endereço", insira o endereço do paciente,informando a rua ou avenida,número da casa e o Bairro, sem ser necessariamente nessa ordem.</p>
            </div>
          </div>

          <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_10.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Telefone</h5>
              <p class="card-text">No campo "Telefone",adicione o telefone fixo ou celular do paciente, apenas os números sem o DDD.</p>
            </div>
          </div>
    </div>

    <div class="row">
        <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_11.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Email</h5>
              <p class="card-text">No campo "Email", insira o email  do paciente, esse não tem muito segredo ;).</p>
            </div>
          </div>
          <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_6.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Nome do responsável</h5>
              <p class="card-text">No campo "Nome  do Responsável", insira o nome do responsável do paciente, se o paciente for maior de idade, esse campo será opcional .</p>
            </div>
          </div>
          <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_7.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Médico responsável</h5>
              <p class="card-text">No campo "Médico Responsável", insira o nome do Médico responsável pelo paciente, esse campo não é obrigatório para casos mais simples .</p>
            </div>
          </div>
    </div>
    
    <div class="row">

        <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_8.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Telefone Responsável</h5>
              <p class="card-text">No campo "Telefone do responsável", adicione o telefone fixo ou celular do  Responsável do paciente(Caso o paciente tenha um Responsável), apenas os números, sem DDD.</p>
            </div>
          </div>

          <div  id="ajudaCard" class="card" style="width: 18rem;">
            <img class="card-img-top" src="/Screenshot_9.png" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Sintomas</h5>
              <p class="card-text">No campo "Sistomas", adicione os sistomas que o paciente apresente ou alguma observação necessária.</p>
            </div>
          </div>
    </div>
    </div>
    </div>
</div>