<!-- <!DOCTYPE html>
<html>
<head>
	<title>Cadastro Hospitalar</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body> -->
		
		<%- contentFor('body') %>
		<%- gg()%>
		<div id = "main_container" class="container col-lg-5 col-sm-10 col-md-6">
		<div class="card " id = 'carde'>
			<div class="card-body">
			<h2>Informe os dados do Paciente</h2>
				<form method="POST" action="/sucess">
					<div class="form-group">
						<label for="nome">Nome:</label> 
						<input type="text" name="nome" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" required placeholder="Nome"  class="form-control"> 
						<small id="passwordHelpBlock" class="form-text text-muted">
							Apenas letras.
						</small>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cpf">CPF:</label> 
							<input  onkeypress="return event.charCode >= 48 && event.charCode <= 57" minlength="11"  maxlength="11" name="cpf" required placeholder="CPF" class="form-control"> 
							<small id="passwordHelpBlock" class="form-text text-muted">
								Somente números,deve conter 11 dígitos.
							</small>
						</div>

						<div class="form-group col-md-6">
							<label for="idade">Idade:</label> 
							<input type="number" min="0" max="200" name="idade" required placeholder="Idade" class="form-control">
							<small id="passwordHelpBlock" class="form-text text-muted">
								Idade mínima 0, idade máxima 200.
							</small>
						</div>

					</div>

					<div class="form-group col-md-6">
						<label for="telefone">Telefone:</label> 
						<input onkeypress="return event.charCode >= 48 && event.charCode <= 57" minlength="12"  maxlength="12" name="telefone" required placeholder="(DDD)XXXXX-XXXX" class="form-control"> 
						<small id="passwordHelpBlock" class="form-text text-muted">
							Siga o modelo, apenas números
						</small>
					</div>

					<div class="form-group">
						<label for="sintomas">Sintomas:</label> 
						<textarea class="form-control"  required name="sintomas" rows="3" placeholder="Opcional"></textarea>
					</div>

					<button class="btn btn-primary"  type="submit">Cadastrar</button>
					
				</form>
			</div>
		</div>
		</div>
<!-- </body>
</html> --> 
<%function gg(){%>
	<%console.log("oi")%>
<%}%>