<%- contentFor('body') %>
 <!-- <i class="material-icons">face</i> -->
<div class= 'container' id = 'gerenciar'>
   <h2 id='titulo'>Gerenciamento de Clientes</h2>
   <div id='ajuda'>
        <button id='botaoAjuda'class="btn btn-primary" type="submit">?</button>
   </div>
    
        <div class="border" id='clientes'>
            <!-- loop fica aqui -->
            <!-- <%- cliente.map(clientes =>{%> -->
            <div class="card">
                <div id = 'cliente'class="card-body">
                    <div id = 'itemCliente'>
                        <i class="material-icons md-48">account_circle</i>
                    </div>
                    <h5 id = 'nome' class="text-left">
                        <!-- <%- clientes.nome %> -->
                    </h5>
                    <div id='deletar'>
                        <button id='deletarBotao'class="btn btn-danger" type="submit">excluir</button>
                    </div>
                </div>
              </div>
            <!-- <%- }); %> -->
        </div>
</div>
