<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cadastro Hospitalar</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script language = "javascript" src="delete.js" ></script>
    <title>Document</title>
</head>
<body>
    
</body>
</html>
