<%- contentFor('body') %>
<div id='home' class="container col-lg-8 col-sm-10 col-md-6">
    <div id='cardHome'></div>
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">Erro ao cadastrar o paciente</h1>
                    <p class="lead">Desculpe, houve um erro ao cadastrar o usuário.</p>
                    <hr class="my-4">
                    <p>Aperte no botão voltar para ir até a tela de cadastro.</p>
                    <a class="btn btn-primary btn-lg" href="/cadastro" role="button">Voltar</a>
                </div> 
            </div>
    </div>
</div>