<%- contentFor('body') %>
<div id = 'home' class = 'container-fluid'>
    <div id = 'cardHome'></div>
    <div   class="container">
        <!-- <div class="card text-center border-secondary mb-3">
            <div class="card-header">
                <h5>Hospital Depressivo</h5>
            </div>
            <div class="card-body">
            <h5 class="card-title">Seja bem vindo</h5>
            <p class="card-text">Esse é o sistema de cadastro de clientes do hospital Depressivo.</p>
            <a href="/cadastro" class="btn btn-primary">Comece a cadastrar</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div> -->
        <div class="jumbotron">
            <h1 class="display-4">Seja bem vindo!</h1>
            <p class="lead">Este é o sistema de cadastro do Hospital Hohenheim</p>
            <hr class="my-4">
            <p>Comece a cadastrar apertando no botão abaixo.</p>
            <a class="btn btn-primary btn-lg" href="/cadastro" role="button">Comece a cadastrar </a>
          </div>
    </div>
</div>