<%- contentFor('body') %>
<div  class="container col-lg-8 col-sm-10 col-md-6">
    <div id = 'sucess' class="card-body">
        <div class="jumbotron">
            <h1 class="display-4">Cadastro realizado com sucesso</h1>
            <p class="lead">Caso queira conferir o usuário cadastrado, basta apertar o botão "Cadastrados",que está logo acima.</p>
            <hr class="my-4">
            <p>Aperte no botão voltar para ir até a tela de cadastrados.</p>
            <a class="btn btn-primary btn-lg" href="/cadastro" role="button">Voltar</a>
        </div> 
    </div>
</div>